*.whl
*_dev
8b
dev/
dist/
config.json
eval_output/
eval-result/
hostfile
core.*
*.out
captioner_bk/
slurm-logs/
captioner/
hostfile
*_dev.py
*_dev.sh
*.ipynb

examples/ToolBench/datasets/                                                                │
examples/ToolBench/toolllama	

# Python
__pycache__
*__pycache__*
*.pyc
*.egg-info*
*.egg*
*temp.linux*
*.so

# Log
*.log
*.log.*
# *.json

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

runs
checkpoints
checkpoints_bak
ckpts*

*.pt

playground
*/visualization/*
.env
server.log


examples/OLMo/olmo_data/*
examples/ToolBench/toolllama/
examples/ToolBench/MathInstruct/
examples/ToolBench/lm-evaluation-harness
examples/backup/*
fake_quant_ops
examples/ToolBench/datasets/*
examples/ToolBench/predictions/*
examples/OLMo/data-indices/
examples/ToolBench/tool_llama3/